@font-face {
    font-family: 'code';
  src: local('code'), url(../../../fonts/CodeNext-Trial-ExtraBold.otf) format('woff');
  
 }
 @font-face{
    font-family: 'arena';
    src: local('arena'),url(../../../fonts/CodeNext-Trial-Regular.otf) ;
 }

  
  
.banner-nf{
 background-size: cover; /*109em */
 background-position: center;
 height: 650px;
 color: white;
}
.title-logo-nf{
    height: 100px;
    margin-bottom: -9px;
    margin-top: 3em;
    margin-left: 2em;
}
.content-nf{
    padding-top: 140px;
    height: 190px;
    padding-left: 15px;
    justify-content: center;

}
.title-nf{
    font-size: 40px;
    line-height: 0px;
    font-weight: 900;
    padding-top: 2em;
    padding-left: 1em;
    padding-bottom: -0,5em;
    letter-spacing: 4px;
    font-family: 'code';
    line-height: 40px;
  overflow: hidden;
}
.button-nf{
    color: white;
    height: 3em;
    outline: none;
    border: none;
    font-weight: 700;
    border-radius: 2px;
    padding-left: 2rem;
    padding-right: 2rem;
    padding-bottom: 0.1rem;
    background-color: rgba(51, 51, 51, 51);
    cursor: pointer;
    margin-right: -2rem;
    margin-top: 3.5em;
    margin-left: 44px;
}
.button-nf:hover{
    color: black;
    background-color: #e6e6e6;
}
.description-nf{
    width: 20rem;
    line-height: 2em;
    display: -webkit-box;
   -webkit-line-clamp: 3;
   -webkit-box-orient: vertical;
    overflow: hidden;
    padding-top: 33px;
    font-size: 1.0rem;
    margin-left:20px;
    max-width: 430px;
    font-family: arena;
}
.fade-bottom-nf{  
    height: 30.2em;
     background-image: linear-gradient(180deg,transparent,rgba(37, 37, 27, 0.61),black);
}